:root {
    --blueColor: rgb(32, 164, 193);
}

main, body, html {
    height: 100%;
}

header {
    padding-left: 5%;
    padding-right: 5%;
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    z-index: 2;
}

#navbar {
    display: inline-block;
    /* vertical-align: bottom; */ /*drop the navbar to the bottom, I think it's ugly */
}

#userArea {
    float: left;
    text-align: center;
}

#userArea .far {
    font-size: 20px;
}

#userArea .fas {
    font-size: 20px;
}

#userArea .number {
    display: inline-block;
    color: #ffffff;
    background-color: #000000;
    border-radius: 50px;
    vertical-align: middle;
    font-size: 12px;
    height: 20px;
    width: 20px;
}

.backgroundImg {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#fighterPlane {
    background-image: url(assets/cover1.png);
}

#catalogDiv {
    padding-left: 5%;
    padding-right: 5%;
}

#catalogDiv h2 {
    font-weight: bold;
}

.row {
    text-align: center;
}

.row div {
    display: inline-block;
}

.productInfo {
    display: none;
}

.col-lg-2 h6 {
    font-weight: bold;
}

.productInfo p {
    color: var(--blueColor);
    font-weight:bold ;
}

.col-lg-2:hover {
    border: 2px solid skyblue;
}

.col-lg-2:hover .productInfo {
    display:block;
}

#catalogDiv .fas {
    color: var(--blueColor);
}

#catalogDiv .far {
    color: gold;
}

#catalogDiv button {
    display: block;
    margin-left: 0%;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 1%;
    background-color: #000000;
    color: #ffffff;
    font-size: 22px;
}

#suitcaseBack {
    background-image: url(assets/parallax1.jpg);
}

#brandsDiv h2 {
    font-weight: bold;
    padding-left: 5%;
    padding-right: 5%;
}

#brandOne {
    padding-left: 10%;
    padding-right: 10%;
}

#brandOne img{
    display: inline-block;
}

#brandOne p {
    text-align: right;
    display: inline-block;
    font-size: 12px;
}

#icons {
    color: var(--blueColor);
    font-size: 50px;
}

#cargoPlane {
    background-image: url(assets/parallax2.jpg);
}

#aboutDiv {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

#aboutDiv h2 {
    font-weight: bold;
}

#aboutUs {
    padding-left: 5%;
    padding-right: 5%;
}

#aboutUs h6 {
    font-weight: bold;
    font-size: 14px;
}

#aboutUs p {
    font-size: 12px;
}

footer {
    text-align: center;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: rgb(210, 237, 242);
}

footer h6 {
    font-weight: bold;
}